.dialog {
  min-width: 480px;
  margin: auto;
  padding: 30px;
  padding-top: 50px;
  align-self: center;
  border: none;
  border-radius: 10px;
  background: #444;
  color: #fff;
  font-size: 1rem;
}

.closeButton {
  position: absolute;
  padding: 5px;
  border-radius: 50%;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
